<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".wasm" />
            <remove fileExtension=".webp" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".wasm" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".webp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
    </system.webServer>
</configuration>
